<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Enigma</title>
</head>
<body>
    {% block pasek_nawigacji %}{% endblock %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    <div class="footer">
        <p>Praca Inżynierska, autor: Maciej Czarnota</p>
        <p>Kontakt: <a href="mailto:maciek.czarnota@gmail.com">
            maciek.czarnota@gmail.com</a></p>
    </div>
<!--    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
</body>
</html>