{% extends "base.html" %}

{% block container %}
<script src="static/js/jquery.js"></script>
<script src="static/js/socket.io.js"></script>
<script src="static/js/openpgp.min.js"></script>

<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/enigma_chat';

            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('server_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
                if (cb)
                    cb();
            });


            $('form#emit').submit(function(event) {
                socket.emit('chat_response', {data: $('#emit_data').val()});
                return false;
            });




            $('form#send_user').submit(function(event) {
                if (document.getElementById('encrypt').checked) {
                    socket.emit('get_public_key', {data: $('#room_name').val()});

                    return false;
                } else {
                    socket.emit('response_to_user', {room: $('#room_name').val(), data: $('#room_data').val()});
                    return false;
                }

            });
            // proces szyfrowania wiadomości
            socket.on('public_key', function(msg) {
                const publicKeys = msg.data;
                (async () => {
                    const { data: encrypted } = await openpgp.encrypt({
                        message: openpgp.message.fromText($('#room_data').val()),   // wiadomość z formularza
                        publicKeys: (await openpgp.key.readArmored(publicKeys)).keys, // klucz publiczny do zaszyfrowania
                    });
                socket.emit('response_to_user', {room: $('#room_name').val(), data: encrypted}); // zaszyfrowana wiadomość
                })();
            });

        });


</script>

<form id="emit" method="POST" action='#'>
    <input type="text" name="emit_data" id="emit_data" placeholder="Wiadomość">
    <input type="submit" value="Wyślij wiadomość do wszystkich">
</form>
<form id="send_user" method="POST" action='#'>
    <input type="text" name="room_name" id="room_name" placeholder="Nazwa użytkownika">
    <input type="text" name="room_data" id="room_data" placeholder="Wiadomość">
    <input type="submit" value="Wyślij wiadomość">
    <input type="checkbox" name="encrypt" value="encrypt" id="encrypt"> Czy zaszyfrować wiadomość?<br>
</form>

<h2>Otrzymane wiadomości:</h2>
<div id="log"></div>
{% endblock %}