{% extends "base.html" %}
{% block pasek_nawigacji %}
<ul>
    <li><a class="active" href="/">Strona Główna</a></li>
<!--    <li><a href="#news">News</a></li>-->
</ul>
{% endblock %}
{% block container %}
<div class="header">
    <h2>Enigma</h2>
    <p>komunikator internetowy wykorzystujący szyfrowanie asymetryczne</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}