<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Enigma </h1>
    <h3>komunikator internetowy wykorzystujący szyfrowanie asymetryczne.</h3>
    <form action="{{ url_for('login') }}" method="post">
        nazwa użytkownika:
        <br>
        <input type="text" name="username">
        <br>
        hasło:
        <br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="zaloguj się">
        <br>
    </form>
    <form action="{{ url_for('rejestracja') }}" method="get">
        <input type="submit" value="zarejestruj sie">
    </form>
</body>
</html>